*{
    margin: 0;
    padding: 0;
}

.header{

    background-color: rgb(70, 70, 181);

}
.header{
    color: white;
    text-align: center;
    font-size: 60px;
}
.box{
    background-color: rgb(164, 119, 163);
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    align-content: end;
}
.box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
